<h3>Sign Up</h3>
<br>
<br>
<form action="/signup" method="post">
  Name:
  <br><input type="text" name="name">
  <br>
  <br>
  Email:
  <br><input type="text" name="email">
  <br>
  <br>
  Password:
  <br><input type="password" name="password">
  <br>
  <br>
  Starting Balance:
  <br><input type="number" name="balance" placeholder="Optional" step="0.01">
  <br>
  <br>
  <input type="submit" value="Sign Up">
</form>
<br>
<br>
<br>
<br>
<br>
<p>| <a href="/">Home</a> | <a href="/login">Login</a> |</p>