
<h3>Login</h3>
<br>
<br>
<form action="/login" method="post">
  Email:
  <br><input type="text" name="email">
  <br>
  <br>
  Password:
  <br><input type="password" name="password">
  <br>
  <br>
  <input type="submit" name="login">
</form>
<br>
<br>
<br>
<br>
<br>
<p>| <a href="/">Home</a> | <a href="/signup">Sign Up</a> |</p>