<h3>Expenses This Month</h3>
<br>
<br>
<p>
  <%total = 0%>
  <ol>
    <%if @expenses.empty?%>
      There are no expenses so far this month.
    <%else%>
      <%expenses = @expenses.sort_by {|a| [a.day]}.reverse!%>
      <%expenses.each do |expense|%>
        <li>
          <%="Date: #{expense.year}/#{expense.month}/#{expense.day} - Amount: $#{'%.2f' % expense.amount}"%>
            | <a href="/expenses/<%=expense.id%>">More Info</a>
            <%total += expense.amount%>
        </li>
      <%end%>
    <%end%>
  </ol>
</p>
<br>
<br>
<p>Total: $<%='%.2f' % total%></p>
<br>
<br>
<br>
<br>
<br>
<p>| <a href="/logout">Logout</a> | <a href="/users/<%=@user.slug%>">Home</a> |</p>