<h3>New Expense</h3>
<br>
<br>
<form action="/expenses/new" method="post">
  Enter date:
  <br><input type="date" name="date">
  <br>
  <br>
  Enter amount:
  <br><input type="number" name="amount" step="0.01">
  <br>
  <br>
  Memo:
  <br><textarea name="description" rows="10" cols="30" placeholder="Add a description for the expense."></textarea>
  <br>
  <br>
  <input type="submit" value="Submit">
  </p>
  <br>
  <br>
  <br>
  <br>
  <br>
  <p>| <a href="/logout">Logout</a> | <a href="/users/<%=@user.slug%>">Home</a> |</p>
</form>