<h3>Weekly Expenses</h3>
<br>
<br>
<p>
  <ol>
    <%if @expenses.empty?%>
      There are no expenses within the past week.
    <%else%>
      <%@expenses.each do |expense|%>
        <li>
          <%="Date: #{expense.year}/#{expense.month}/#{expense.day} - Amount: $#{'%.2f' % expense.amount}"%>
            | <a href="/expenses/<%=expense.id%>">More Info</a>
        </li>
      <%end%>
    <%end%>
  </ol>
</p>
<br>
<br>
<br>
<br>
<br>
<p>| <a href="/logout">Logout</a> | <a href="/users/<%=@user.slug%>">Home</a> |</p>