<h1>Expense Report</h1>
<p>Please login to see your balance or sign up to start a new account.</p>
<p>
  <form action="/" method="post">
    <input type="submit" name="login" value="Log In">
    <br>
    <br>
    <input type="submit" name="signup" value="Sign Up">
  </form>
</p>